/* Real licensed fonts for the hero section, replacing the Claude Design
   prototype's Google Fonts stand-ins (Poppins -> Neue Montreal, Playfair
   Display -> Juana). Files live in public/fonts/. */

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Juana';
  src: url('/fonts/JuanaRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Juana';
  src: url('/fonts/JuanaMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Juana';
  src: url('/fonts/JuanaBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
